.GameCard {
  top: 50%;
  left: 50%;
  width: calc(100% - 8px);
  min-height: 80px;
  float: left;
  perspective: 500px;  
  border-top-width: 0;
  padding: 4px;
}

.GameCard__Container {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  min-height: 40px;

  transition: transform 1s;
  transform-style: preserve-3d; 
}

.GameCard__Active {
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  min-height: 40px;

  transition: transform 1s;
  transform-style: preserve-3d; 
}

.GameCard__Transition {
  transform: rotateY(180deg) ;
  transition: transform 0.5s;
}

.GameCard__Front,
.GameCard__Back {
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.GameCard__Back {
  background: #03446A;
  color: white;
  transform: rotateY(180deg);
}  

