.GameCard {
  top: 50%;
  left: 50%;
  width: calc(100% - 8px);
  min-height: 80px;
  float: left;
  perspective: 500px;  
  border-top-width: 0;
  padding: 4px;
  cursor: pointer;
}

.GameCard__Container {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  min-height: 40px;
  transition-timing-function: ease-in;
  transition: opacity 200ms;
}

