.Input {
  display: flex;
  flex-direction: column;
}

.Input__Label {
  font-size: .85rem;
  margin-bottom: 4px;
}

.Input__Input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: rgba(0,0,0,0);
  border-bottom-style: solid;
  border-bottom-color: var(--black);
  border-bottom-width: 1px;
}

.Input__Input:focus {
  outline: none;
}

