.GameCardTable {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  width: 100%;
  height: 100%;
  background-color: black;
  padding-top: 4px;
}

.GameCardTable__Column {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4px;
}

