.Gameboard {
  width: 100%;
  height: 100%;
  background-color: black;
  transition-property: filter;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.Gameboard__Container {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
  min-height: calc(100vh - 16px);
}

