.TitleRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 100%;
  flex: 0 0 100%;
  width: 100%;
}

.TitleRow__CardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: calc(100% - 4px);
  margin-left: 4px;
  margin-right: 4px;
}

